{{#top-bar
  title=model.name
  backRoute="cashboxes.show"
  backModel=model.cashbox
  editRoute="books.edit"
  editModel=model
}}{{/top-bar}}

<div class="ui container">
  <div class="ui top attached segment">

    {{#if model.isClosed}}
      <div class="ui center aligned top attached segment">
        <i class="icons">
          <i class="large red archive icon"> Archived</i>
          <p>Modifications are not possible anymore.</p>
        </i>
      </div>
    {{/if}}

    <table class="ui large unstackable fixed bottom attached table">
      <thead>
        <tr class="top aligned">
          <th>{{moment-format model.opened_at 'l'}}</th>
          <th>Opening balance</th>
          <th class="right aligned">
            {{model.opening_balance}}
            <i class="fitted euro icon"></i>
          </th>
        </tr>
        <tr class="top aligned">
          {{#unless model.line_items}}
            <th></th>
            <th colspan="2">No line items</th>
          {{/unless}}
        </tr>
      </thead>
      <tbody>
        {{#each model.line_items as |item|}}
          <tr {{bind-attr class=":top :aligned item.isPositive:positive:negative"}}>
            <td>{{moment-format item.charged_at 'l'}}</td>
            <td>{{item.matter}}</td>
            <td class="right aligned">
              <b>
                {{item.amount}}
                <i class="fitted euro icon"></i>
              </b>
            </td>
          </tr>
        {{/each}}
      </tbody>
      {{#if model.line_items}}
      <tfoot>
        <th colspan="3" class="right aligned">
          <h3>
            {{model.total}}
            <i class="fitted euro icon"></i>
          </h3>
        </th>
      </tfoot>
      {{/if}}
    </table>

  </div>
  {{#create-button}}{{/create-button}}
</div>
