{{#top-bar
  title=model.name
  backRoute="cashboxes.index"
  editRoute="cashboxes.edit"
  editModel=model
}}{{/top-bar}}

<div>
  <div class="ui attached segment">
    <div class="ui large relaxed center aligned selection divided list">
      {{#each model.books as |book|}}
        {{#link-to "books.show" book class="item"}}
          <i {{bind-attr class=":ui :huge :book :icon book.closed_at:red"}}></i>
          <div class="content middle aligned">
            <div class="header">{{book.name}}</div>
            <div class="description">
              <p>
                Opened at: {{moment-format book.opened_at 'l'}}<br>
                Opening Balance: {{book.opening_balance}}<br>
                Total: {{book.total}}
                Closed at: {{moment-format book.closed_at 'l'}}
              </p>
            </div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
