{{#top-bar
  title=model.name
  backRoute="cashboxes.index"
  editRoute="cashboxes.edit"
  editModel=model
}}{{/top-bar}}

<div>
  <div class="ui segment">
    <div class="ui big relaxed center aligned selection divided list">
      {{#each model.books as |book|}}
        {{#link-to "books.show" book class="item"}}
          <i class="icon">
            <i class="huge icons">
              <i {{bind-attr class=":book :icon book.isClosed:disabled:teal"}}></i>
              <i {{bind-attr class=":corner :icon book.isClosed:archive:write"}}></i>
            </i>
          </i>
          <div class="content middle aligned">
            <div class="header">{{book.name}}</div>
            <div class="description">
              {{#if book.isClosed}}
                {{moment-format book.opened_at 'l'}} - {{moment-format book.closed_at 'l'}}
              {{else}}
                Total: {{book.total}}<br>
                Opened at: {{moment-format book.opened_at 'l'}}<br>
              {{/if}}
            </div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
